extends layout

block content
  h1=title

  form(method='POST' action='')
    div.form-group
      label(for='artist_name') Artist Name:
      input#artist_name.form-control(type='text' placeholder='Artist name' name='artist_name' required='true' value=(undefined===artist ? '' : artist.artist_name) )
      label(for='gov_name') Government Name:
      input#gov_name.form-control(type='text' placeholder='Government name' name='gov_name' value=(undefined===artist ? '' : artist.gov_name))
    div.form-group
      label(for='date_of_birth') Date of birth:
      input#date_of_birth.form-control(type='date' name='date_of_birth' value=(undefined===artist ? '' : artist.date_of_birth) )
    div.form-group
      label(for='date_of_death') Date of death:
      input#date_of_death.form-control(type='date' name='date_of_death' value=(undefined===artist ? '' : artist.date_of_death) )
    button.btn.btn-primary(type='submit') Submit
  if errors
    ul
      for error in errors
        li!= error.msg
